<h1>List of Users</h1>
<table border="2 black">
    <tr>
        <th>Name</th>
        <th>Email Id</th>
        <th>Mobile Number</th>
        <th>Flat Number</th>
        <th>Adress line 1</th>
        <th>Adress line 2</th>
        <th>city</th>
        <th>State</th>
        <th>Pincode</th>
    </tr>
    <tr *ngFor="let item of usersData,let i = index">
        <td>{{item.user_name}}</td>
        <td>{{item.user_email}}</td>
        <td>{{item.contact}}</td>
        <td>{{flat[i]}}</td>
        <td>{{address1[i]}}</td>
        <td>{{address2[i]}}</td>
        <td>{{city[i]}}</td>
        <td>{{state[i]}}</td>
        <td>{{pincode[i]}}</td>
    </tr>
</table>
